<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--<div>-->
<!--  <h1>My Goals</h1>-->
<!--  <hr>-->
<!--  <ul>-->
<!--    <li *ngFor='let goal of goals'>-->
<!--      {{ goal.id + " is " + goal.name }}-->
<!--    </li>-->
<!--  </ul>-->
<!--  <p *ngIf="goals.length > 5">Your goals are too many</p>-->
<!--&lt;!&ndash;  <p>My goal for today is {{ goal }}</p>&ndash;&gt;-->
<!--</div>-->
<!--  <hr>-->
</div>
<!--<router-outlet></router-outlet>-->
<app-goal></app-goal>
